body {
  overflow-x: hidden;
  text-align: center;
}

.nav-link {
  z-index: 999;
}

.table, .table2 {
  width: 100%;
  height:450px;
  /* border: solid 1px black; */
  margin: 2.5px;
  display: grid;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
}

.table {
  grid-template-columns: repeat(20, 1fr);
  padding: 20px;
}

.table2 {
  grid-template-columns: repeat(5, 1fr);
}


.table__header{
  padding: 10px;
  border: solid 1px gray;
}

.table__data {  
  padding: 10px;
  border: solid 0.5px gray;
}

.input-div{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs__inner {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.inputs__inner input, select {
  margin: 15px;
}

